
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Prova.MVC.Models.ContatoViewModel>

<style>
    .error {
       border: 1px solid red;
    }
</style>
<title>Contatos</title>

<h2 class="text-center">Contatos</h2>
<input type="hidden" id="serverJSON" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                <button type="button" class="btn btn-default" aria-label="Left Align"  id="create" data-bind="click: criar, disable: desabilitarAcoes">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </th>           
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: contatos">
        <tr data-bind="template: {name: Mode, data: $data }"></tr>
    </tbody>
</table>

<script type="text/html" id="display">
    <td>
        <button type="button" class="btn btn-success kout-edit" aria-label="Editar" id="editar" data-bind="click: $root.editar, disable: $root.desabilitarAcoes">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>  
    </td>    
    <td data-bind="text: Nome"></td>
    <td data-bind="text: Telefone, mask: '(99)99999-9999'"></td>
    <td data-bind="text: Email"></td>
    <td>
        <button type="button" class="btn btn-danger kout-delete" aria-label="Editar" id="remove" data-bind="click: $root.remover">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </td>     
</script>

<script type="text/html" id="edit">
    <td>
        <button type="button" class="btn btn-success kout-update" aria-label="Salvar" id="remove" data-bind="click: $root.salvar">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
        </button>
    </td>        
    <td><input type="text" data-bind="value: Nome, validationElement: Nome, valueUpdate: 'afterkeydown'" /></td>
    <td><input type="text" data-bind="value: Telefone, mask: '(99)99999-9999', validationElement: Telefone, valueUpdate: 'afterkeydown'" /></td>
    <td><input type="text" data-bind="value: Email, validationElement: Email, valueUpdate: 'afterkeydown'" /></td>
    <td>
        <button type="button" class="btn btn-danger kout-cancel" aria-label="Cancelar" id="remove" data-bind="click: $root.cancelar">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </td>  
</script>

@section Scripts {
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/contato")
}